<!DOCTYPE html>
<!-- "siscliproc", []).controller("procedimentocontroller" -->
<html lang="en" ng-app="funcionarioapp">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="content/bootstrap.min.css">
    <script src="content/jquery-3.3.1.min.js"></script>
    <script src="content/bootstrap.min.js"></script>
    <script src="content/popper.min.js"></script>
    <script src="/APIREST/appwebang/js/funcionarios.js"></script>
    <script src="angular/angular.js"></script>
    <script src="angular/angular.min.js"></script>
    <script src="/js/funcionarios.js"></script>
    
    <title>Funcionarios</title>
</head>

    <body class="jumbotron" ng-controller="funcionarioCtrl">    
        <hr>
        <div class='col-sm-offset-4 col-sm-4' >
            <h2>Funcionarios</h2>
            <h6>{{message}}</h6>
        </div>
        <div class='col-sm-4'>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Novo Funcionario</button>
        </div>
        <div class=' col-sm-offset-1 col-sm-9'>
            <table class="table table-hover table-striped">
                <thead>
                <tr>
                    <th style="border: 0px;">Matricula</th> 
                    <th style="border: 0px;">Nome</th>
                    <th style="border: 0px;">RG</th>
                    <th style="border: 0px;">Profissão</th>
                    <th style="border: 0px;">Endereço</th>
                </tr>
                </thead>
    
                <tbody>
                <tr ng-repeat="fun in funcionarios">
                    <td>{{fun.matricula}}</td> 
                    <td>{{fun.nome}}</td>
                    <td>{{fun.rg}}</td>
                    <td>{{fun.profissao}}</td>
                    <td>{{fun.endereco}}</td>
                    <td>
                        <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#myModalEditar" ng-click="">Editar</button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModalExcluir" ng-click="">Excluir</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        
        <hr>
        <!-- Modal -->
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Cadastro de Funcionarios</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label class="control-label col-sm-2">Nome</label>
                            <div class="col-sm-10">
                                <input id="funcionarionome" type="text" class="form-control" placeholder="Nome"
                                ng-model="funcionario.nome">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2">RG</label>
                            <div class="col-sm-10">
                                <input id="funcionariosrg" type="text" class="form-control" placeholder="RG"
                                ng-model="funcionario.rg">
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label class="control-label col-sm-1">CPF</label>
                            <div class="col-sm-10">
                                <input id="funcionariocpf" type="text" class="form-control" placeholder="CPF"
                                ng-model="funcionario.cpf">
                            </div>
                        </div>
                        <div class="form-group" class="col-sm-5">
                            <label class="control-label col-sm-1"> Profissão</label><br/>
                            <div >
                                <select id="funcionario.profissao" ng-model="funcionario.profissao" 
                                    name="funcao" class="form-control">
                                    <option value="atendente">Atendente</option>
                                    <option value="medico">Médico</option> 
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2"></label>
                            <div class="col-sm-10">
                                <input id="funcionariosendereco" type="text" class="form-control" placeholder="Endereço"
                                ng-model="funcionario.endereco">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2"></label>
                            <div class="col-sm-10">
                                <label >Ativo</label>
                                <input class="form-group" type="checkbox" id="ativo" name="Ativo" value="Ativo"
                                ng-model="funcionario.ativo">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button  type="submit" class="btn btn-primary" ng-click="postdata(funcionario)" data-dismiss="modal">Salvar</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                </div>
            </div>
            </div>
        </div>
        
    
                
            <!-- <form class="" name="mainForm" ng-submit="send()">

                <div>
                    <label>Descrição do Procedimento</label><br/>
                    <input type="text" ng-model="procedimento.descricao" name="descricao" required/> <br/>
                </div>
                <div>
                    <label>Preço</label><br/>
                    <input type="number" ng-model="procedimento.valor" name="valor" step="0.00"> <br/>
                </div>
                
                <div>
                    <input type="submit" ng-disabled="mainForm.$invalid">
                </div>
            </form> -->

    </body>
</html>