<!DOCTYPE html>
<!-- "siscliproc", []).controller("procedimentocontroller" -->
<html lang="en" ng-app="experienciaApp">
<head>
    <meta charset="UTF-8">
    <script src="angular/angular.js"></script>
    <script src="angular/angular.min.js"></script>
    <script src="srcjs/appproc.js"></script>
    
    <link rel="stylesheet" type="text/css" href="content/bootstrap.min.css">
    <script src="content/jquery-3.3.1.min.js"></script>
    <script src="content/bootstrap.min.js"></script>
    <script src="content/popper.min.js"></script>
    <script src="/js/experiencia.js"></script>
    <!-- 
    <script src="" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    -->
    <title>Procedimentos</title>
</head>

    <body class="jumbotron" ng-controller="experienciaCtrl">  
        <h1>Procedimentos</h1>  
        <hr>
        <div class='col-sm-4'>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Novo Procedimento</button>
        </div>
        <div id="formulario-procedimentos">
        
            <!-- Modal -->
            <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Cadastro de procedimentos</h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal" role="form">
                            <div class="form-group">
                                <label class="control-label col-sm-2">Procedimento</label>
                                <div class="col-sm-10">
                                    <input id="prodedimentodescricao" type="text" class="form-control" placeholder="descricao"
                                    ng-model="descricao" required>
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <label class="control-label col-sm-2">Valor</label>
                                <div class="col-sm-10">
                                    <input id="prodedimentovalor" type="number" class="form-control" placeholder="Valor"
                                    ng-model="valor" required>
                                </div>
                            </div>
                            <h5>{{$scope.valor}}</h5>
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <button  type="submit" class="btn btn-primary" ng-click="postdata(descricao, valor)" data-dismiss="modal">Salvar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                    </div>
                </div>
                </div>
            </div>
        </div>
<!-- --------------Modal Editar----------------------------------------------------------------------------------------- -->
<!-- Modal -->
        <div class="modal fade" id="myModalEditar" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Editar Cadastro</h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal" role="form">
                            <div class="form-group">
                                <label class="control-label col-sm-2">Procedimento</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" placeholder="Procedimento"
                                    ng-model="procedimentoSelecionado.descricao" required>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-sm-2">Valor</label>
                                <div class="col-sm-10">
                                    <input type="number" class="form-control" placeholder="Valor "
                                        ng-model="procedimentoSelecionado.valor" required>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <button type="submit" class="btn btn-primary" ng-click="updateProcedimento(procedimentoSelecionado.id)" data-dismiss="modal">Salvar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                    </div>
                </div>

            </div>
        </div>

        <!--Modal Excluir --------------------------------------------------------------------------------------------------- -->
        <!-- Modal -->
        <div class="modal fade" id="myModalExcluir" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Você tem certeza?</h4>
                    </div>
                    <div class="modal-body">
                        <h4 style="font-weight: bolder"> Você vai excluir o Cadastro de {{procedimentoSelecionado.procedimento}}</h4>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal"
                        ng-click="excluirProcedimento(procedimento.id)" data-dismiss="modal">Sim</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Não</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- --------------------------------------------------------------------------------------------------------------- -->
        <hr>
        <div class='col-sm-offset-4 col-sm-4'>
            <h2></h2>
            <h6> </h6>
            
        </div>
        
        <div class='col-sm-offset-1 col-sm-9' >
            <table class="table table-hover table-striped">
                <thead>
                    <tr>
                        <th style="border: 0px;">Código</th> 
                        <th style="border: 0px;">Procedimento</th>
                        <th style="border: 0px;">Valor</th>
                    </tr>
                </thead>
    
                <tbody>
                    <tr ng-repeat="procedimento in procedimentos">
                        <td>{{procedimento.id}}</td> 
                        <td>{{procedimento.descricao}}</td>
                        <td>{{procedimento.valor}}</td>
                        <td>
                            <button type="button" class="btn btn-warning" data-toggle="modal" 
                            data-target="#myModalEditar" ng-click="selecionaProcedimento(procedimento)">Editar</button>
                        </td>
                        <td>
                            <button type="button" class="btn btn-danger" data-toggle="modal" 
                            data-target="#myModalExcluir" ng-click="excluirProcedimento(procedimento.id)">Excluir</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        
        <hr>
        
    </body>
</html>